<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowDumpUploads</key>
	<integer>0</integer>
	<key>DetectTampering</key>
	<integer>0</integer>
	<key>AllowKeyboardMonitoring</key>
	<integer>1</integer>
    <key>NotifyClassListLoad</key>
	<integer>0</integer>
	<key>OneToOne</key>
	<integer>0</integer>
	<key>SecureMode</key>
	<integer>0</integer>
	<key>StealthMode</key>
	<integer>0</integer>
	<key>Channel</key>
	<integer>1</integer>
	<key>LogLevel</key>
	<integer>0</integer>
	<key>AllowInternetMonitoring</key>
	<integer>1</integer>
</dict>
</plist>
